aside#outline {
    overflow: hidden;
    position: fixed;
    top: 330px;
    width: 20%;
    float: left;
}
section#resume{
    width: 55%;
    margin: auto;
    text-align: center;
}
address {
    font-style: normal;
}
section#resume div.skills {
    width: 33%;
    float: left;
}
section#resume table {
    clear: both;
    float: left;
    text-align: left;
}